@import '@angular/material/prebuilt-themes/indigo-pink.css';

.content {
    padding: 24px;
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px;
    padding: 8px;

}

mat-progress-bar {
    position: absolute;
    overflow: hidden;
    bottom: 10px;
    left: 20px;
    width: 60px;
  }

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

p {
    flex-grow: 1;
    text-align: start;
}