<!-- <mat-progress-bar 
  *ngIf="!(loaded$ | async)" 
  mode="indeterminate"></mat-progress-bar> -->

<div class="content-portfolio responsive-grid-portfolio">
    <mat-card *ngFor="let entry of entries">
        <mat-card-header>
            <mat-card-title>{{ entry.title }} </mat-card-title>
        </mat-card-header>
        <br />
        <img mat-card-image [src]="entry.imageUrl" />
        <mat-card-content class="card-content">
            <br />
            <p>{{ entry.description | summary : 92 }}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button [hidden]="entry.isVisible">Hide</button>
            <button mat-button [hidden]="!entry.isVisible">Unhide</button>
        </mat-card-actions>
    </mat-card>
</div>