<!-- portfolio-details.component.html -->
<ng-container *ngIf="isLoading; else content">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>



<mat-card class="details">


    <ng-template #content>
        <ng-container *ngIf="hasError; else details">
            <p>Error loading details. Please try again later.</p>
        </ng-container>

        <ng-template #details>

            <mat-toolbar   color="primary"> Portfolio Details
                <div class="header-content">
                    <button class="btn btn-primary" (click)="deleteEntry() ">Delete</button>

                    <button class="btn btn-primary" (click)="updateEntry()">Update</button>

                </div>
            </mat-toolbar>

            <mat-card *ngIf="portfolioEntry">
                <mat-card-header>
                    <mat-card-title>{{ portfolioEntry.title }}</mat-card-title>
                    <mat-card-subtitle>{{ portfolioEntry.createdDate | date: 'longDate' }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="portfolioEntry.imageUrl" alt="Image of {{portfolioEntry.title}}">
                <mat-card-content>
                    <p><strong>Description:</strong> {{ portfolioEntry.description }}</p>
                    <p><strong>Created on:</strong> {{ portfolioEntry.createdDate | date: 'medium' }}</p>
                    <a *ngIf="portfolioEntry.isVisible" [href]="portfolioEntry.customerLink | absoluteUrl" target="_blank">Customer Link</a>


                    <h5 *ngIf="!portfolioEntry.isVisible">Status: Hiden</h5>

                </mat-card-content>
                <!-- <mat-card-actions>
                    <!-- <button mat-button [hidden]="portfolioEntry.isVisible">Hide</button>
                    <button mat-button [hidden]="!portfolioEntry.isVisible">Unhide</button>
                </mat-card-actions> -->
            </mat-card>

        </ng-template>
    </ng-template>

</mat-card>